/**
 * Style Sheet V1.0
 * Autor: Carlos Andres Garcia Morales
 */

 #top-header{
     background-color: black;
 }

 #top-logo{
     border-width: 2px !important;
 }

 .list-group-item:hover i{
    color: #FFD24D;
 }
 .list-group-item:hover{
    color: white;
    background-color: black;
 }
 .bg-black{
     background-color: black;
 }
 
 .color-js{

     color: #FFD24D;
 }

 .social-links{
    color: #FFD24D;
    margin: 5px;
    content:unset;
 }

 footer a{
    color: white;
    margin: 5px; 
    text-decoration: none;
    
 }

 footer a:hover{
    color: #FFD24D;
    margin: 5px; 
    text-decoration: none;
 }



 main .btn{
     background-color: black;
     text-align: center;
     color: #FFD24D;
 }

 main .btn:hover{
    background-color: #414141;
    text-align: center;
    color: white;
}


main .card:hover{
   border: black solid 2px;
   transform:scale(1.02);
   transition:all .9s ease
}


@media screen and (max-width:536px) {
    .jumbotron .container{
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
    }
 


}