/**
 * Style Sheet V1.0
 * Autor: Carlos Andres Garcia Morales
 */

 #top-header{
     background-color: black;
 }

 #top-logo{
     border-width: 2px !important;
 }
 
 .color-js{

     color: #FFD24D;
 }

